//Headline

.headline {
	margin-bottom: 30px;
	.headline__news {
		position: relative;
	}
	h1 {
		font-weight: bold;
	}
	.topic-post-big h1 {
		color: #fff;
		@include font-size(18);
		bottom: 10px;
		left: 10px;
		right: 10px;
		position: absolute;
	}
	.topic-post-small {
		display: none;
		text-align: center;
	}
	.topic-title {
	  color: #fff;
		position: relative;
		width: 100%;
		padding: 20px;
		line-height: 1;
		vertical-align: middle;
		display: table-cell;
		span {
			@include font-size(12);
			font-weight: bold;
			color: rgba(255, 255, 255, .7);
		}
	}
	.topic-post-small h1 {
		@include font-size(18);
		line-height: 1.6;
		text-align: left;
		margin-bottom: 10px;
	}
	@include media($tablet) {
		.headline__news {
			float: left;
		}
		.topic-post-big h1 {
			@include font-size(24);
			bottom: 20px;
			left: 20px;
			right: 20px;
		}
		.topic-post-big img {
			width: 708px;
			height: 550px;
		}
		.topic-post-small {
			width: 354px;
			height: 322px;
			display: table;
		}
	}
	@include media($desktop) {
		.topic-post-big img {
			width: 480px;
			height: 320px;
		}
		.topic-post-small {
			width: 196px;
			height: 160px;
		}
		.topic-post-small h1 {
			@include font-size(14);
		}
	}
	@include media($largedesktop) {
		.topic-post-big img {
			width: 480px;
			height: 320px;
		}
		.topic-post-small {
			width: 185px;
			height: 160px;
		}
	}
}

.image-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	@include transition(all .2s ease);
	background-image: -webkit-linear-gradient( -90deg, rgba(0,122,255,0.3) 0%, rgb(0,0,0) 100% );
	background-image: -moz-linear-gradient( -90deg, rgba(0,122,255,0.3) 0%, rgb(0,0,0) 100% );
	background-image: linear-gradient( -90deg, rgba(0,122,255,0.3) 0%, rgb(0,0,0) 100% );
	&:hover {
		opacity: .3;
	}
}

.one .small {
	background-color: #434749;
	@include background-image(linear-gradient(bottom, rgba(255,94,58,.8) 0%, rgba(255,42,104,.8) 100%));
}
.two .small {
	background-color: #434749;
	@include background-image(linear-gradient(bottom, rgba(88,86,214,.8) 0%, rgba(198,68,252,.8) 100%));
}
.three .small {
	background-color: #434749;
	@include background-image(linear-gradient(bottom, rgba(90,200,251,.8) 0%, rgba(82,237,199,.8) 100%));
}
.four .small {
	background-color: #434749;
	@include background-image(linear-gradient(bottom, rgba(29,98,240,.8) 0%, rgba(26,214,253,.8) 100%));
}
