//Normal Post

.content-wrapper {
	max-width: 780px;
	margin: 0 auto;
	@include media($desktop) {
		padding-left: 30px;
	}
	@include media($largedesktop) {
		padding-right: 30px;
	}
}

.single-post-header__headline {
	position: relative;
}

.single-post-header__meta {
	margin: 20px 0;
}

.single-post__postmeta {
	margin-bottom: 30px;
	@include font-size(12);
	@include media($mobilemax1) {
		@include font-size(14);
	}
}
.single-post__title {
	@include font-size(20);
	font-weight: bold;
	line-height: 1.5;
	color: $tertiary-color;
	@include media($mobilemax1) {
		@include font-size(32);
	}
}

.article {
	color: #333332;
	@include font-size(16);
	line-height: 1.8;
	
	@include media($mobile-max1) {
		@include font-size(18);
	}
	
	hr {
		border: 0;
		height: 1px;
		width: 20%;
		margin: 50px auto;
		border-top: 1px solid #e4e4e4;
	}
	
	a {
		color: $primary-color;
		border-bottom: 2px solid #eaeaea;
		&:hover {
			border-bottom: 2px solid #48a9ec;
		}
	}
	
	blockquote {
		@include font-size(18);
		font-weight: bold;
		border-left: 6px solid $primary-color;
		padding-left: 15px;
		margin-left: -15px;
		@include media($mobile-max1) {
			@include font-size(20);
			padding-left: 24px;
			margin-left: -24px;
		}
	}
	
	img {
		margin: 0 auto;
	}
	
	ul,
	ol {
		list-style: square;
		margin-left: 20px;
	}
}

.article p,
.article h3,
.article h4,
.article h5,
.article h6,
.article pre,
.article ul,
.article ol,
.article dl,
.article form,
.article table,
.article blockquote,
.article iframe {
	margin-bottom: 30px;
}