//Section - Relate

.single-post-relate {
	ul {
		margin-bottom: 0;
		@include font-size(16);
		line-height: 1.5;
		@include media($tablet) {
			@include font-size(14);
		}
	}
	li {
		width: 100%;
		margin-bottom: 30px;
		@include media($mobilemax1) {
			float: left;
			display: inline-block;
			margin-right: 5%;
			margin-bottom: 0;
			width: 30%;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.single-post-relate__image {
	margin-bottom: 10px;
}
.single-post-relate__title {
	&:hover {
		color: $link-color-hover;
	}
}