= render 'welcome/title', title: '头条管理'

.col_main
  .main_hd
    h2 头条管理
    .toolbar.border_bottom.clearfix.new
      .pull-right
        i.fa.fa-map-marker
        ol.breadcrumb
          li = link_to '头条管理', admin_head_lines_path
          li.active 创建头条
  .main-body
    = simple_form_for [:admin, @head_line], html:{class:"form-horizontal"} do | f |
      = f.input :url, input_html: {class: 'col-lg-8', id: 'head_line_url'}
      div.head_line_details style="display:#{ @head_line.new_record? ? 'none' : 'block' }"
        = f.input :post_type, input_html: {id: 'head_line_post_type', readonly: true}
        = f.input :hidden_title, as: :radio_buttons
        = f.input :section, input_html: {id: 'head_line_section'}
        = f.input :title, input_html: {class: 'col-lg-12', id: 'head_line_title'}
        = f.input :image, input_html: {class: 'col-lg-12', id: 'head_line_image'}
        = f.input :display_position, input_html: {class: 'col-lg-12', id: 'head_line_display_position'}
        .extra_info_for_normal
          = f.input :section, input_html: {id: 'head_line_section'}
          = f.input :url_code, input_html: {id: 'head_line_url_code'}
          = f.input :order_num, input_html:{ step: 100, id: 'head_line_order_num'}
        .extra_info_for_next
          = f.input :summary, as: :text, input_html: {class: 'col-lg-12', id: 'head_line_summary'}
      div.form-actions
        = f.button :submit, data: { disable_with: "submitting..." }, class:"btn btn-primary head_line_submit", disabled: @head_line.title.blank?

javascript:
  check_extra_info_area();

  $('#head_line_title').change(function() {
    check_title();
  });

  $('#head_line_display_position').change(function() {
    check_extra_info_area();
  });

  $('#head_line_url').parent().append("<span style='margin-left:10px;'><a href='javascript:void(0)' id='btn_get_og_meta' class='btn btn-primary'>获取</button></a></span><p style='margin-bottom:0; color: #f00;' id='error_msg'></p>");

  $(document).ajaxStart( function() {
    $('#btn_get_og_meta').removeClass('btn-primary').addClass('btn-default');
    $('#btn_get_og_meta').text('获取中...');
  } ).ajaxStop ( function(){
    $('#btn_get_og_meta').removeClass('btn-default').addClass('btn-primary');
    $('#btn_get_og_meta').text('获取');
  });

  $("#btn_get_og_meta").click(function(){
     var url = "#{get_metas_info_asynces_head_lines_path}";
     $('#error_msg').empty();
     $("#head_line_url+.help-inline").fadeOut();
     $.get(url, {url: $('#head_line_url').val()}, function(data) {
       if(data['result'] == false){
         $('#error_msg').append(data['msg']);
       }else{
         $(".head_line_details").show();
         metas = data['metas']
         $("#head_line_post_type").val(metas['type']);
         $("#head_line_section").val(metas['section']);
         $("#head_line_url_code").val(metas['code']);
         $("#head_line_image").val(metas['image']);
         $("#head_line_title").val(metas['title']);
         $("#head_line_summary").val(metas['description']);
         check_title();
         detect_display_position();
       }
     });
  });

  function detect_display_position(){
    var url = $('#head_line_url').val();
    parser = prarse_url(url);
    if(parser.host == "next.36kr.com"){
      $("#head_line_display_position").val('next');
      $("#head_line_image").val('http://next.36kr.com/logo.png');
    }else{
      $("#head_line_display_position").val('normal');
    }

    check_extra_info_area();
  }

  function check_extra_info_area(){
    var position = $('#head_line_display_position').val();
    if(position == 'next'){
      $(".extra_info_for_next").show();
      $(".extra_info_for_normal").hide();
    }
    else{
      $(".extra_info_for_normal").show();
      $(".extra_info_for_next").hide();
    }
  }

  function check_title(){
    var title = $('#head_line_title').val();
    $(".head_line_submit").prop('disabled', title == '' || title == undefined );
  }

  function prarse_url(url){
    var parser = document.createElement('a');
    parser.href = url;
    return parser;
  }
