title = t('site.name')
meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
meta name="renderer" content="webkit"
= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon'

meta name="author" content="@xinzhi @dingyi @Byronlee @xiaobo @chad_lwm"
meta name="description" content="36氪是一个关注互联网创业的科技博客"
meta name="keywords" content="36氪, 36kr, 36tr, 创业, 想创业, 投资, 融资, 创投媒体, 创业公司, 科技新闻, 移动互联网, 资讯平台, 开放日, 互联网创业"
link rel="author" href="/humans.txt"
