link rel="apple-touch-startup-image" sizes="2048x1496" href="startup-2048x1496.png" media="screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:landscape)"
link rel="apple-touch-startup-image" sizes="1536x2008" href="startup-1536x2008.png" media="screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait)"
