link rel="apple-touch-startup-image" href="startup-320x480.png" media="screen and (max-device-width:320px)"
link rel="apple-touch-startup-image" href="startup-640x960.png" media="(max-device-width:480px) and (-webkit-min-device-pixel-ratio:2)"
link rel="apple-touch-startup-image" href="startup-640x1136.png" media="(max-device-width:548px) and (-webkit-min-device-pixel-ratio:2)"
