meta name="twitter:card" content="#{@post.summary}"
meta name="twitter:site" content="36氪"
meta name="twitter:url" content="#{post_path(@post)}"
meta name="twitter:title" content="#{@post.title}"
meta name="twitter:description" content="#{@post.summary}"
meta name="twitter:image" content="#{@post.cover.url}"
