meta name="twitter:card" content="summary"
meta name="twitter:site" content="@yourname"
meta name="twitter:creator" content="@yourname"
meta name="twitter:url" content="http://www.yoursite.com/"
meta name="twitter:title" content="Title"
meta name="twitter:description" content=""
meta name="twitter:image" content=""
