meta property="og:type" content="article"
meta property="og:url" content="#{post_url(@post)}"
meta property="og:title" content="#{@post.title}"
meta property="og:description" content="#{@post.summary}"
meta property="og:image" content="#{@post.cover_real_url}"
meta name="weibo: article:create_at" content="#{@post.created_at}"
meta name="weibo: article:update_at" content="#{@post.updated_at}"
