h3 职位精选
.sidebar-sponsored__list
  section.sidebar-liepin.cf
    iframe src="http://www.liepin.com/event/jobadver/36kr/" marginwidth="0" marginheight="0" border="0" scrolling="no" frameborder="0" width="280" height="210"