<section class="sidebar-popular cf">
  <h3>赞助商链接</h3>
  <div class="sidebar-sponsored__list">
    <article class="sidebar-sponsored__posts cf">
      <div class="meta"></div>
      <div class="image thumb-60 right"><img src="http://a.36krcnd.com/photo/2014/1512189e2929f9ce66453f5cbf1a4652.png"></div>
      <a href="http://mp.weixin.qq.com/s?__biz=MjM5Njg3NDYyMQ==&amp;mid=200717438&amp;idx=1&amp;sn=7cd68927092948afc2f073a68529554d&amp;scene=1&amp;from=singlemessage&amp;isappinstalled=0#rd" class="external" target="_blank">推送技术哪家强 个推无疑排第一</a>
    </article>
    <article class="sidebar-sponsored__posts cf">
      <div class="meta"></div>
      <div class="image thumb-60 right"><img src="http://a.36krcnd.com/photo/2015/0d9b2a445226e538a6cb0a48c4d589e8.png"></div>
      <a href="http://www.juhe.cn/news/index/id/140" class="external" target="_blank">聚合数据将率先上线中国首个黄页SDK</a>
    </article>
    <article class="sidebar-sponsored__posts cf">
      <div class="meta"></div>
      <div class="image thumb-60 right"><img src="http://a.36krcnd.com/photo/2015/9c3077817825b945b641227bd2c7ba97.png"></div>
      <a href="http://lbsbbs.amap.com/forum.php?mod=viewthread&amp;tid=3040&amp;extra=page%3D1/" class="external" target="_blank">五分钟快手教程：让应用具备环保功能</a>
    </article>
  </div>
</section>