<section class="sidebar-popular cf">
  <h3>赞助商链接</h3>
  <div class="sidebar-sponsored__list">
    <!-- 广告位：赞助商链接1~3 -->
    <script type="text/javascript">BAIDU_CLB_fillSlot("1059959");</script>
    <script type="text/javascript">BAIDU_CLB_fillSlot("1059960");</script>
    <script type="text/javascript">BAIDU_CLB_fillSlot("1059961");</script>
  </div>
</section>