//VARIABLES

$base-font-size         : 16;
$base-line-height       : 24;


$bg-color 						  : #ffffff;
$footer-color 					: #444749;
$text-color 						: #747f8c;

//Topic colors
$startups 					    : #ff905a;
$products       				: #66bc4e;
$apps         					: #3c8fe6;
$websites    						: #5856d6;
$brands       					: #ff3b30;
$people     						: #ffcc00;
$devices 					      : #19d5fd;
$technology 						: #34aadc;

// Define your design’s palette by choosing three main colours
$primary-color 				  : #51aded;
$secondary-color 			  : #e6eaed;
$tertiary-color 				: #38485a;

// Sometimes you may want $black and $white to be ‘almost black’ and ’off-white’
$black 							    : rgb(0,0,0);
$white 							    : rgb(255,255,255);

// Choose a colour for your hyperlinks. Often this will be the $primarycolor
$link-color 		    		: #38485a;
$link-color-hover 			: $primary-color;
$link-color-visited   	: darken($link-color, 10);
$link-color-focus 			: darken($link-color-visited, 10);
