img, video, object, embed, iframe {
	max-width: 100% !important;
}
video, object, embed, iframe {
	width: 100%;
}
iframe {
	max-height: 340px;
}
img {
	@include high-quality-image;
	display:block;
	height:auto;
	border: 0;
	vertical-align: middle;
}

.avatar img {
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

figure {
	@include font-size(12);
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	figcaption {
		margin-top: 5px;
	}
}
figure.big {
	@include media($tablet) {
		margin-right: -70px;
		margin-left: -70px;
	}
	@include media($figurebig) {
		margin-right: -229px;
		margin-left: -229px;
	}
}
figure.small-left {
	@include media($mobilemax1) {
		float: left;
		margin: 0 30px 20px -199px;
	}
}

.lazyload {	
	opacity: 0;
}
.lazyload.loaded {
	@include transition(opacity .3s ease-in);
	opacity: 1;
}

//preloading spinner

.spinner {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  @include transition(opacity .3s ease-in);
  @include animation(rotate .8s linear infinite);
  opacity: 1;
}
.spinner:before {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  width: 22px;
  height: 22px;
  @include retina-image(spinner, 22px 22px);
}
.loaded + .spinner {
	opacity: 0;
}