<polymer-element name="hot-posts">
  <template>
    <link rel="stylesheet" href="hot-posts.css" />
    <section class="sidebar sidebar-popular cf">
      <h3>热门文章</h3>
      <div class="sidebar-popular__list">
        <template repeat="{{post in posts}}">
          <article class="sidebar-popular__posts cf">
            <div class="meta"></div>
            <div class="image thumb-60 left"><img src="{{post.cover_real_url}}" alt=""></div>
            <h1><a ref="/posts/{{post.id}}" href="javacript:void(0)" onclick="performLinkWithRel(this)" title="{{post.title}}">{{post.title}}<a></h1>
          </article>
        </template>
      </div>
    </section>
  </template>

  <script src="hot-posts.js"></script>
</polymer-element>
