/!breadcrumbs
div#content-header
  div#breadcrumb
    a.tip-bottom title="回到首页" href= admin_root_path
      i.icon-home
      | 首页
    a href=admin_info_flows_path
      i.icon-tint
      | 信息流管理
    a href=columns_and_ads_admin_info_flow_path(@info_flow)
      i.icon-tasks
      = "#{@info_flow.name}信息流"
    a.current href="#"
      i.icon-tasks
      = "关联专栏"
  <h1>关联专栏</h1>
/!End-breadcrumbs

div.container-fluid
  = bootstrap_flash
  div.widget-box
    div clas="widget-content" style="padding:20px;"
      select id="custom-multiselect-headers" multiple="multiple"
        - @columns_in_info_flow.each do |column|
            option value="#{column.id}" selected="selected"  ="#{column.name}"
        - @columns.each do |column|
            option value="#{column.id}"  ="#{column.name}"
      div.actions style="margin-top:20px;"
      button#multiselect-refresh class="btn btn-success" 重置
      button#multiselect-submit class="btn btn-primary" style="margin-left:20px;" 保存修改



javascript:
  $(document).ready(function(){
    $('#custom-multiselect-headers').multiSelect({
      keepOrder: true,
      selectableHeader: "<input type='text' class='search-input search-input-header' autocomplete='off' placeholder='待选专栏'>",
      selectionHeader:  "<input type='text' class='search-input search-input-header' autocomplete='off' placeholder='已选专栏'>",
      afterInit: function(ms){
        var that = this,
            $selectableSearch = that.$selectableUl.prev(),
            $selectionSearch = that.$selectionUl.prev(),
            selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
            selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
        .on('keydown', function(e){
          if (e.which === 40){
            that.$selectableUl.focus();
            return false;
          }
        });

        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
        .on('keydown', function(e){
          if (e.which == 40){
            that.$selectionUl.focus();
            return false;
          }
        });
      },
      afterSelect: function(){
        this.qs1.cache();
        this.qs2.cache();
      },
      afterDeselect: function(){
        this.qs1.cache();
        this.qs2.cache();
      }
    });

    $('#multiselect-refresh').on('click', function(){
      location.reload();
    });

     $('#multiselect-submit').on('click', function(){
       ids = $('#custom-multiselect-headers').val();
       $.ajax({
         "url": "#{update_columns_admin_info_flow_path(@info_flow)}",
         "data": {'column_ids':ids},
         "dataType": "json",
         "type": "POST",
         "success": function () {
           window.location = "#{columns_and_ads_admin_info_flow_path(@info_flow)}";
         }
      });
    });
  });
