header.header.header-normal
  .inner.row
    h1.logo
      a href=root_path
        span 36kr
    nav.toggle-nav.cf
      ul.left
        li
          a.toggle__main.icon-menu href="javascript:void(0)"
            span 导航
        li
          a.toggle__search.icon-search href="javascript:void(0)"
            span 搜索
      a.toggle__submit.right href="" 寻求报道
    nav.main-nav.left
      ul
        li.drop-1.drop
          a.hasdropdown.main-nav__item href="/category" 分类浏览
          .dropdown.dropdown-normal
            .dropdown-list.dropdown__list
              section
                h2 Category
                ul.dropdown__category.cf
                  li
                    a href="" 国内公司
                  li
                    a href="" 国外公司
                  li
                    a href="" 国内资讯
                  li
                    a href="" 国外资讯
                  li
                    a href="" 投稿
                  li
                    a href="" 专栏
                  li
                    a href="" 氪周刊
                  li
                    a href="" 氪月刊
              section
                h2 Topic
                ul.dropdown__topic.cf
                  li
                    span
                      a.startups href="#" 国外创业 / Startups
                  li
                    span
                      a.products href="#" 产品 / Products
                  li
                    span
                      a.apps href="#" 应用软体 / Apps
                  li
                    span
                      a.technology href="#" 科技 / Technology
                  li
                    span
                      a.websites href="#" 网站 / Websites
                  li
                    span
                      a.people href="#" 人物 / People
                  li
                    span
                      a.brands href="#" 品牌 / Brands
                  li
                    span
                      a.devices href="#" 硬件 / Devices
              section.more
                a href="" 查看更多精彩文章
        li.drop-2.drop
          a.hasdropdown.main-nav__item href="/events" 线下活动
          .dropdown.dropdown-normal
            .dropdown-list.main-nav__list
              section.dropdown__events.cf
                .date.upcoming.left
                  span.month dec
                  span.day 18
                .intro
                  h3
                    a href="" WISE创新大会
                  span.address 北京，中国
              section.dropdown__events.cf
                .date.left
                  span.month dec
                  span.day 3
                .intro
                  h3
                    a href="" 杭州开放日
                  span.address 杭州，中国
              section.dropdown__events.cf
                .date.left
                  span.month nov
                  span.day 29
                .intro
                  h3
                    a href="" WISE Talk
                  span.address 北京，中国
                  span.status 已结束
              section.more
                a href="" 查看所有活动
        li.drop-2.drop
          a.hasdropdown.main-nav__item href="javascript:;" 更多产品
          .dropdown.dropdown-normal
            .dropdown-list.main-nav__list
              section.dropdown__events.cf
                .product-logo.product-krspace.left
                .intro
                  h3
                    a href="" 氪空间
                  span.bio 创业公司第一轮融资的地方
              section.dropdown__events.cf
                .product-logo.product-krplus.left
                .intro
                  h3
                    a href="" 36氪Plus
                  span.bio 优秀创业者集聚地
              section.dropdown__events.cf
                .product-logo.product-wise.left
                .intro
                  h3
                    a href="" WISE
                  span.bio 互联网创业峰会
              section.dropdown__events.cf
                .product-logo.product-beiji.left
                .intro
                  h3
                    a href="" 北极社区
                  span.bio 创业者互动社区
        li
          a.main-nav__item href="#" 关于我们
    .search.left
      form action="/search"
        input type="search" placeholder="搜索"
    nav.second-nav
      ul
        li
          a.second-nav__submit href="#" 投稿
        li
          a.second-nav__request href="#" 寻求报道
        li
          a.second-nav__login.overlay href="#panel-login" 登录