<header class="header header-normal">
  <div class="inner row">
    <h1 class="logo"><a href="<%= root_path %>"><span>36kr</span></a></h1>
    <nav class="toggle-nav cf">
      <ul class="left">
        <li><a href="javascript:void(0)" class="toggle__main icon-menu"><span>导航</span></a></li>
        <li><a href="javascript:void(0)" class="toggle__search icon-search"><span>搜索</span></a></li>
      </ul>
      <a href="/pages/contribute" class="toggle__submit right">寻求报道</a>
    </nav>
    <nav class="main-nav left">
      <ul>
        <li class="drop-1 drop">
          <a href="/category" class="hasdropdown main-nav__item">分类浏览</a>
          <div class="dropdown dropdown-normal">
            <div class="dropdown-list dropdown__list">
              <section>
                <h2>Category</h2>
                <ul class="dropdown__category cf">
                  <li><a href="">国内公司</a></li>
                  <li><a href="">国外公司</a></li>
                  <li><a href="">国内资讯</a></li>
                  <li><a href="">国外资讯</a></li>
                  <li><a href="">投稿</a></li>
                  <li><a href="">专栏</a></li>
                  <li><a href="">氪周刊</a></li>
                  <li><a href="">氪月刊</a></li>
                </ul>
              </section>
              <section>
                <h2>Topic</h2>
                <ul class="dropdown__topic cf">
                  <li><span><a href="#" class="startups">国外创业</a> / Startups</span></li>
                  <li><span><a href="#" class="products">产品</a> / Products</span></li>
                  <li><span><a href="#" class="apps">应用软体</a> / Apps</span></li>
                  <li><span><a href="#" class="technology">科技</a> / Technology</span></li>
                  <li><span><a href="#" class="websites">网站</a> / Websites</span></li>
                  <li><span><a href="#" class="people">人物</a> / People</span></li>
                  <li><span><a href="#" class="brands">品牌</a> / Brands</span></li>
                  <li><span><a href="#" class="devices">硬件</a> / Devices</span></li>
                </ul>
              </section>
              <section class="more">
                <a href="">查看更多精彩文章</a>
              </section>
            </div>
          </div>
        </li>
        <li class="main-nav--new">
          <a href="http://rong.36kr.com/" class="main-nav__item">融资</a>
        </li>
        <li class="drop-2 drop">
          <a href="/events" class="hasdropdown main-nav__item">线下活动</a>
          <div class="dropdown dropdown-normal">
            <div class="dropdown-list main-nav__list">
              <section class="dropdown__events cf">
                <div class="date upcoming left">
                  <span class="month">dec</span>
                  <span class="day">18</span>
                </div>
                <div class="intro">
                  <h3><a href="">WISE创新大会</a></h3>
                  <span class="address">北京，中国</span>
                </div>
              </section>
              <section class="dropdown__events cf">
                <div class="date left">
                  <span class="month">dec</span>
                  <span class="day">3</span>
                </div>
                <div class="intro">
                  <h3><a href="">杭州开放日</a></h3>
                  <span class="address">杭州，中国</span>
                </div>
              </section>
              <section class="dropdown__events cf">
                <div class="date left">
                  <span class="month">nov</span>
                  <span class="day">29</span>
                </div>
                <div class="intro">
                  <h3><a href="">WISE Talk</a></h3>
                  <span class="address">北京，中国</span>
                  <span class="status">已结束</span>
                </div>
              </section>
              <section class="more">
                <a href="">查看所有活动</a>
              </section>
            </div>
          </div>
        </li>
        <li class="main-nav--new">
          <a href="#" class="main-nav__item">NEXT</a>
        </li>
        <li class="drop-2 drop main-nav--more">
          <a href="javascript:;" class="hasdropdown main-nav__item">更多</a>
          <div class="dropdown dropdown-normal">
            <div class="dropdown-list main-nav__list">
              <section class="dropdown__events cf">
                <div class="product-logo product-krspace left"></div>
                <div class="intro">
                  <h3><a href="">氪空间</a></h3>
                  <span class="bio">创业公司第一轮融资的地方</span>
                </div>
              </section>
              <section class="dropdown__events cf">
                <div class="product-logo product-krplus left"></div>
                <div class="intro">
                  <h3><a href="">36氪Plus</a></h3>
                  <span class="bio">优秀创业者集聚地</span>
                </div>
              </section>
              <section class="dropdown__events cf">
                <div class="product-logo product-next left"></div>
                <div class="intro">
                  <h3><a href="">NEXT</a></h3>
                  <span class="bio">不错过任何一个新产品</span>
                </div>
              </section>
              <section class="dropdown__events cf">
                <div class="product-logo product-wise left"></div>
                <div class="intro">
                  <h3><a href="">WISE</a></h3>
                  <span class="bio">互联网创业峰会</span>
                </div>
              </section>
              <section class="dropdown__events cf">
                <div class="product-logo product-beiji left"></div>
                <div class="intro">
                  <h3><a href="">北极社区</a></h3>
                  <span class="bio">创业者互动社区</span>
                </div>
              </section>
            </div>
          </div>
          <i class="new"></i>
        </li>
      </ul>
    </nav>
    <div class="search left">
      <form action="/search">
        <input type="search" placeholder="搜索" />
      </form>
    </div>
    <nav class="second-nav">
      <ul>
        <li><a href="#" class="second-nav__submit">投稿</a></li>
        <li><a href="#" class="second-nav__request">寻求报道</a></li>
        <li><a href="#panel-login" class="second-nav__login overlay">登录</a></li>
      </ul>
    </nav>
  </div>
</header>
