h2
  | 文章评论(
  span.comment_form_count = 0
  | )
.single-post-comment-reply
  - if can? :create, Comment
    .single-post-comment__form.cf.require-login data-uid="#{@current_user.try(:id)}"
      form.comment_form action="/asynces/posts/#{@post.id}/comments" method="post" data-remote="true"
        = hidden_field_tag :authenticity_token, form_authenticity_token
        textarea#post.textarea name="comment[content]" placeholder="你怎么看？" data-widearea="enable"
        span.focus-tips.textarea-focus-tips 请回复有价值的信息，无意义的评论将很快被删除，账号将被禁止发言。
        span.reply_message
  .bottom
    - if @current_user
      - if can? :create, Comment
        .meta
          span.avatar style="background-image: url('#{@current_user.try(:avatar)}')"
          span
            | signed as &nbsp;
            a[href="javascript:void(0)"]
              = @current_user.try(:display_name)
          span#error_msg style="color:#f00; margin-left:15px;"
            - if @current_user.try(:display_name).to_s.include?('新用户')
              |Tips：您正在使用默认的用户名，一点都不 Cool，<a href="#{Settings.user_info_update_url}">去更新</a>

        button.ladda-button.comment-submit-btn.right[ data-style="slide-down" data-spinner-size="32" data-stat-click="pinglun.fabupinglun.click"]
          span.ladda-label
            | 提交评论
      - else
        .meta.left.cf
          | 您已被禁言，如有疑问请联系：
          = link_to "hello+account@36kr.com", "mailto:hello+account@36kr.com?subject=36Kr帐号解禁申请"
    - else
      .meta.left.cf
        a href="#{new_user_session_path(ok_url: request.fullpath)}" class="login_before_comment" 登录
        | 后参与讨论

  - unless @current_user.present?
    javascript:
      $(document).ready(function(){
        $('textarea#post.textarea, button.ladda-button.comment-submit-btn').attr('disabled','disabled')
      })

  javascript:
    $(document).ready(function(){
      $(".comment-submit-btn").click(function(o){
        var comment_message = $('form.comment_form #post').val();
        if(#{@current_user.present?} == false || comment_message == "") return;
        var frm = $('form.comment_form');
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize() + "&current_maxid=" + ($(".comment_details").data('comment-id') || 0),
            beforeSend: function(){
              $(o).attr('diabled', "true")
              $('span.ladda-label').html('提交评论...')
            },
            success: function (data) {
              $('.single-post-comment__comments').prepend(data);
              $('.comment_total_count').text($(".comments_total_count").data('total-count') || 0);
              $('.comment_form_count').text($(".comments_total_count").data('total-count') || 0);
              $('#error_msg').text($(".comments_total_count").data('message'));
              if($(".comments_total_count").data('message') == ''){
                frm[0].reset();
              }
              $("span.reply_message span").trigger("click");
              $(".timeago").timeago();
              initLazyLoad();
            },
            complete: function(){
              $(o).removeAttr('diabled')
              $('span.ladda-label').html('提交评论')
            }
        });
     });
   });

   function commentsLoadComplete(){
     $('.timeago').timeago();
     $('.comment_total_count').text($(".comments_total_count").data('total-count') || 0);
     $('.comment_form_count').text($(".comments_total_count").data('total-count') || 0);
     var anchor =  $('a[name="'+ window.location.hash +'"]');
     if(anchor.length > 0){
       $('body').animate({scrollTop: $('a[name="'+ window.location.hash +'"]').offset().top}, 600)
     }
   }