<polymer-element name="head-lines" attributes="show">
  <template>
    <link rel="stylesheet" href="head-lines.css" />
    <post-service id="service" posts="{{head_lines}}"></post-service>
    <div class="headline cf">
      <article class="headline__news">
        <a ref="{{first_head_line.url}}" href="javacript:void(0)" onclick="performLinkWithRel(this)" class="topic-post-big">
          <img alt="Blank" class="image lazyload loaded" data-src="{{first_head_line.image}}" src="{{first_head_line.image}}">
          <span class="spinner"></span>
          <div class="image-overlay big"></div>
          <h1>{{first_head_line.title}}</h1>
        </a>
      </article>
      <template repeat="{{headline, index in rest_head_lines}}">
        <article class="headline__news">
          <a ref="{{headline.url}}" href="javacript:void(0)" onclick="performLinkWithRel(this)" class="topic-post-small item-{{index}}">
            <div class="image-overlay small"></div>
            <div class="topic-title">
              <h1>{{headline.title}}</h1>
              <span></span>
            </div>
          </a>
        </article>
      </template>
    </div>
  </template>
  <script src="head-lines.js"></script>
</polymer-element>