polymer-element name="head-lines" attributes="show"
  template
    link rel="stylesheet" href="head-lines.css"
    post-service id="service" posts="{{ head_lines }}"
    .headline.cf
      article.headline__news
        a.topic-post-big href="{{ first_head_line.url }}"
          img.image src="{{ first_head_line.image }}" alt=""
          .image-overlay.big
          h1 "{{ first_head_line.title }}"
      template repeat="{{ headline in rest_head_lines }}"
        article.headline__news
          a.topic-post-small.one href="{{ headline.url }}"
            .image-overlay.small
            .topic-title
              h1 "{{ headline.title }}"
  script src="head-lines.js"