$fadeinup_movement: 40px;
$fadeindown_movement: 20px;

.fadeIn {
  @include animation(fadeIn .8s ease-out);
}

.fadeOut {
  @include animation(fadeOut .8s ease-out);
  display: none;
}
.fadeInUp {
  @include animation(fadeInUp .4s ease-in);
  display: block !important;
}

.fadeInDown {
  @include animation(fadeInDown .4s ease-in);
  display: block !important;
}

@include keyframes(showPanel) {
  0% {
    @include transform(scale(0.75));
    opacity: 0.0;
  }

  50% {
    @include transform(scale(1.05));
    opacity: 1.0;
  }

  100% {
    @include transform(scale(1.0));
    opacity: 1.0;
  }
}

@include keyframes(hidePanel) {
  0% {
    @include transform(scale(1.0));
    opacity: 1.0;
  }

  100% {
    @include transform(scale(0.98));
    opacity: 0.0;
  }
}

@include keyframes(fadeInUp) {
  0% {
    @include transform(translateY($fadeinup_movement));
    opacity: 0;
  }

  100% {
    @include transform(translateY(0));
    opacity: 1;
  }
}

@include keyframes(fadeInDown) {
  0% {
    @include transform(translateY(-$fadeindown_movement));
    opacity: 0;
  }

  100% {
    @include transform(translateY(0));
    opacity: 1;
  }
}

@include keyframes(fadeIn) {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@include keyframes(fadeOut) {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@include keyframes(rotate) {
  100% {@include transform(rotate(360deg));}
}