<polymer-element name="today-lastest">
  <template>
    <link rel="stylesheet" href="today-lastest.css" />

    <h2>今日更新  +{{posts_count || 0}}</h2>
    <template repeat="{{post in posts}}">
      <div>
        <span>
          <a ref="/columns/{{post.column.id}}" href="javacript:void(0)" onclick="performLinkWithRel(this)" target="_blank">
            {{post.column.name}}
          </a>
        </span>
        /
        <span>{{posts.column.slug}}</span></div>
      <div>
        <a ref="/posts/{{post.id}}" href="javacript:void(0)" onclick="performLinkWithRel(this)" target="_blank">
          {{post.title}}
        </a>
      </div>
    </template>
  </template>

  <script src="today-lastest.js"></script>
</polymer-element>
