<script type="text/javascript">
  window.BAIDU_CLB_fillSlot()==false?BAIDU_CLB_fillSlot("1091328"):(function(){
    document.write('<div class="block article badge-edu">\
      <a href="<%= @head_line["url"] %>" data-lazyload="<%= high_speed_url(@head_line["image"], "feature") %>">\
      <span><%= @head_line["title"] %></span>\
      </a>\
    </div>')
  })();
</script>