.single-post-author__avatar {
	.avatar {
		width: 50px;
		height: 50px;
	}
}
.single-post-author__info {
	@include font-size(14);
	margin-left: 60px;
	.single-post-author__name {
		@include font-size(16);
		display: inline-block;
		a {
			color: $text-color;
			font-weight: bold;
		}
	}
	.single-post-author__label {
		@include font-size(12);
		margin-left: 10px;
		padding: 5px 10px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		background: #b6bcc4;
		color: #fff;
		font-weight: bold;
	}
	.single-post-author__bio {
		margin-top: 15px;
	}
}
