//Section - Comment

.single-post-comment {
	margin-top: 30px;
	margin-bottom: 30px;
}
.single-post-comment-reply {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid $secondary-color;
}
.single-post-comment__form {
	margin-bottom: 30px;
	.textarea {
		@include placeholder {
			@include font-size(16);
		}
		margin-bottom: 5px;
		padding: 10px;
		min-height: 120px;
		width: 100% !important;
		border: none;
		background: $secondary-color;
		color: $text-color;
	}
	.tip {
		@include font-size(12);
	}
}

.single-post-comment__bottom {
	line-height: 34px;
	.avatar {
		margin: 5px 5px 5px 0;
		width: 24px;
		height: 24px;
	}
	.username {
		@include font-size(12);
	}
	.logout {
		margin-left: 20px;
	}
	.comment-submit-btn {
		@include font-size(14);
		display: inline-block;
		width: 120px;
		height: 34px;
		padding: 0;
		background: $primary-color;
		color: #fff;
		text-align: center;
		font-weight: bold;
		line-height: 34px;
		&:hover {
			background: darken($primary-color, 4);
		}
	}
}

.single-post-comment__comments {
	@include font-size(14);
	color: #323232;
	@include media($tablet) {
		@include font-size(16);
	}
	.comment {
		margin-bottom: 20px;
	}
	.postmeta,
	.commemt-main {
		margin-bottom: 10px;
	}
	.commemt-main {
		span a {
			color: $primary-color;
			font-weight: bold;
		}
	}
}
.comment-wrapper {
	margin-left: 60px;
	.opts li {
		float: left;
		margin-right: 20px;
		color: #B6BCC4;
	}
	.opts i {
		@include font-size(16);
		position: relative;
		top: 3px;
		margin-right: 4px;
	}
	.like,
	.reply {
		@include font-size(14);
		color: #b6bcc4;
		&:hover {
			color: darken(#b6bcc4, 20);
		}
	}
}
