.row {
	@include outer-container;
	padding-left: 10px;
	padding-right: 10px;
	@include media($mobilemax1) {
		padding-left: 30px;
		padding-right: 30px;
	}
	@include media($tablet) {
		max-width: 708px;
		padding-left: 0;
		padding-right: 0;
	}
	@include media($desktop) {
		max-width: 874px;
	}
	@include media($largedesktop) {
		max-width: 1180px;
	}
}

.main {
	@include outer-container;

	@include media($largedesktop) {
		float: left;
		display: block;
		margin-right: 20px;
		width: 880px;
	}
}