//Section - Share

.single-post-share,
.single-post-author-social,
.single-post-relate {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid $secondary-color;
}

.single-post-author-social,
.single-post-relate,
.single-post-comment {
	h2 {
		font-weight: bold;
		margin-bottom: 10px;
	}
}
.single-post-share {
	@include font-size(14);
	padding-top: 30px;
}
.single-post-share-list {
	@include media($tablet) {
		float: right;
	}
	ul {
		margin: 0 auto;
		@include media($mobilemax2) {
			/*width: 365px;*/
		}
	}
	li {
		padding: 0 5px;
		float: left;
		&:last-child {
			padding-right: 0;
		}
	}
	a {
		color: #fff;
		display: inline-block;
		text-align: center;
		width: 112px;
		height: 32px;
		line-height: 32px;
		border-radius: 50px;
		border-style: solid;
		border-width: 1px;
	}
	.long-weibo {
		color: #d44137;
		border-color: #d44137;
		&:hover {
			color: #fff;
			background: #d44137;
		}
	}
	.weixin {
		color: #38ad5a;
		border-color: #38ad5a;
		&:hover {
			color: #fff;
			background: #38ad5a;
		}
	}
	.qq {
		color: #39B2E2;
		border-color: #39B2E2;
		&:hover {
			color: #fff;
			background: #39B2E2;
		}
	}
}

//Social Share

.single-post-author-social {
	position: relative;
}
.single-post-share-social {
	margin-bottom: 30px;
	position: relative;
	top: -3px;
	@include media($mobilemax1) {
		float: left;
		margin-bottom: 0;
	}
	li {
		display: inline-block;
		position: relative;
		margin-right: 15px;
	}
	.social-btn {
		color: #b6bcc4;
		text-align: center;
		margin-right: 4px;
		&:hover {
			color: darken(#b6bcc4, 20);
		}
		.icon {
			position: relative;
			top: 6px;
			//margin-right: 4px;
		}
  }
  .icon-star,
  .icon-share {
  	@include font-size(24);
  }
  .icon-heart {
  	@include font-size(22);
  }
}
.icon-heart.active,
.icon-star.active {
	color: $primary-color;
}

//Popup

.single-post-social__popup {
	border-radius: 3px;
	position: absolute;
	top: -40px;
	left: -110px;
	padding: 8px 10px;
	width: 260px;
	@include background-image(linear-gradient(-360deg, rgb(0,0,0) 0%, rgb(36,36,36) 43%, rgb(81,81,81) 100%));
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	@include transform(translateY(15px) scale(0.75));
	@include transition(all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55));
	pointer-events: none;
	opacity: 0;

	&.active {
	  pointer-events: auto;
	  opacity: 1;
	  @include transform(translateY(0) scale(1));
	}

	a {
		@include font-size(20);
		color: #fff;
		float: left;
		text-align: center;
		padding: 0 5px;
	}
	i {
		width: 24px;
		height: 24px;
		display: block;
		line-height: 30px;
	}
	&:before {
		content: " ";
		@include triangle(12px, rgba(#181818, 0.9), down);
		position: absolute;
		left: 50%;
		bottom: -12px;
		margin-left: -6px;
	}
	.weibo:hover {
		color: #D04341;
	}
	.qq:hover {
		color: #2FA8DB;
	}
	.twitter:hover {
		color: #1DACEB;
	}
	.evernote:hover {
		color: #71B33F;
	}
	.douban:hover {
		color: #2D923C;
	}
	.renren:hover {
		color: #09509F;
	}
	.mail:hover {
		color: #1DB0ED;
	}
}