//Single Post

.content-wrapper-single {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 30px;
}

#article-single .single-post {
	margin-top: 30px;
}

.single-header {
	position: relative;
	min-height: 600px;
	margin-bottom: 40px;
}
.single-header__headline-image {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  vertical-align: bottom;
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.single-header__meta {
	text-align: center;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 0 40px;
	width: 100%;
	max-width: 1098px;
	max-height: 300px;
	.single-header__title {
		@include font-size(22);
		margin-bottom: 10px;
		@include media($mobilemax1) {
			@include font-size(36);
		}
		@include media($largedesktop) {
			@include font-size(48);
		}
	}
	.single-header__postmeta {
		a {
			color: #b5b5b5;
		}
		@include font-size(12);
		@include media($tablet) {
			@include font-size(14);
		}
	}
	.single-header__healine {
		max-width: 700px;
		margin: 80px auto 0;
		p {
			@include font-size(16);
			color: #b5b5b5;
			margin-bottom: 0;
			@include media($tablet) {
				@include font-size(20);
			}
		}
	}
}
.readnext h2 {
	font-weight: bold;
	color: $primary-color;
	@include font-size(24);
	text-transform: uppercase;
	text-align: center;
	margin: 30px auto;
	&:after {
		content: " ";
		display: block;
		margin: 0 auto;
		width: 130px;
		height: 4px;
		background: $primary-color;
	}
}
.single-post__next {
	position: relative;
	width: 100%;
	float: left;
	color: #fff;
	h1 {
		@include font-size(20);
		position: absolute;
		bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	@include media($tablet) {
		width: 50%;
	}
	img {
		width: 100%;
	}
}

.image-overlay-single {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	@include transition(all 0.2s ease);
	@include background-image(linear-gradient(360deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.5) 50%, rgba(255,255,255,0) 100%)); 
}