<% @posts.each do |post| %>
  <article class="sidebar-popular__posts cf">
    <div class="meta"></div>
    <div class="image thumb-60 left">
      <img src="<%= high_speed_url post["cover_real_url"], '!square' %>" alt="">
    </div>
    <h1>
      <a href="<%= post["title_link"].blank? ? ('/p/' + post["url_code"].to_s + '.html') : post["title_link"] %>" title="<%= raw post["title"] %>">
        <%= raw post["title"] %>
      </a>
    </h1>
  </article>
 <% end %>
