<div class="category-popular">
  <h3>
    <i class="icon-hot">一周热点</i>
  </h3>
  <ul class="category-popular__list">
    <% @weekly_hot_posts.each do |post| %>
      <li class="cf">
        <span> 03/02 13:12</span>
        <h1>
          <a href="<%= post_url post %>" title="<%= post.title %>"><%= post.title %></a>
        </h1>
      </li>
  <% end %>
  </ul>
</div>