<div class="category-popular">
  <h3>
    <i class="icon-hot"></i>
     <span>一周热点</span>
  </h3>
  <ul class="category-popular__list">
    <% @weekly_hot_posts.each do |post| %>
      <li class="cf">
        <span><%= post.created_at.strftime('%m/%d %H:%M') %></span>
        <h1>
          <a href="<%= post_url post %>" title="<%= post.title %>"><%= post.title %></a>
        </h1>
      </li>
  <% end %>
  </ul>
</div>