= render 'welcome/title', title: '相关链接管理'

.col_main
  .main_hd
    h2 相关链接管理
    .toolbar.border_bottom.clearfix.new
      .pull-right
        i.fa.fa-map-marker
        ol.breadcrumb
          li = link_to @post.title, admin_post_related_links_path(@post)
          li.active 创建链接
  .main-body
    = simple_form_for [:admin, @post, @related_link], html:{class:"form-horizontal"} do | f |
      = f.input :url, input_html: {class: 'col-lg-8', id: 'related_link_url'} 
      = f.input :link_type, input_html: {id:'related_link_type'} 
      = f.input :title, input_html: {class: 'col-lg-12', id: 'related_link_title'}
      = f.input :description, input_html: {class: 'col-lg-12', id: 'related_link_description'}
      = f.input :image, input_html: {class: 'col-lg-12', id: 'related_link_image'}
      div.video_extra_info style="#{ (@related_link.link_type || '').start_with?('video') ? 'display: block' : 'display: none' }"
        = f.input :video_url, input_html: {class: 'col-lg-12', id: 'related_link_video'}
        = f.input :video_duration, hint: '单位: s', input_html: {type: :number, min: 0, id: 'related_link_video_duration'}
      div.event_extra_info style="#{ (@related_link.link_type || '').start_with?('event') ? 'display: block' : 'display: none' }"
        = f.input :event_locality, input_html: {class: 'col-lg-12', id: 'related_event_locality'}
        = f.input :event_address, input_html: {class: 'col-lg-12', id: 'related_event_address'}
        = f.input :event_starttime, input_html: {value: "#{time_local_zone @related_link.event_starttime}", class: 'col-lg-12', id: 'related_event_starttime'}
        = f.input :event_endtime, input_html: {value: "#{time_local_zone @related_link.event_endtime}", class: 'col-lg-12', id: 'related_event_endtime'}
      div.form-actions
        = f.button :submit, data: { disable_with: "submitting..." }, class:"btn btn-primary"

javascript:
  $('#related_link_type').change(function() {
    check_link_type();
  });

  $('#related_link_url').parent().append("<span><a href='javascript:void(0)' id='btn_get_og_meta' class='btn btn-primary' style='margin-left: 5px;'>获取</button></a><p style='margin-bottom:0; color: #b94a48;' id='error_msg'></p>");

  $(document).ajaxStart( function() {
    $('#btn_get_og_meta').removeClass('btn-primary').addClass('btn-default');
    $('#btn_get_og_meta').text('获取中...');
  } ).ajaxStop ( function(){
    $('#btn_get_og_meta').removeClass('btn-default').addClass('btn-primary');
    $('#btn_get_og_meta').text('获取');
  });

  $("#btn_get_og_meta").click(function(){
     var url = "#{get_metas_info_asynces_related_links_path}";
     $('#error_msg').empty();
     $('span.help-inline').empty();
     $.get(url, {url: $('#related_link_url').val()}, function(data) {
       if(data['result'] == false){
         $('#error_msg').append(data['msg']);
       }else{
         metas = data['metas']
         $("#related_link_type").val(metas['type']);
         $("#related_link_title").val(metas['title']);
         $("#related_link_description").val(metas['description']);
         $("#related_link_image").val(metas['image']);

         $("#related_link_video").val(metas['video']);
         $("#related_link_video_duration").val(metas['video_duration']);
         
         $("#related_event_locality").val(metas['event_locality']);
         $("#related_event_address").val(metas['event_address']);
         $("#related_event_starttime").val(metas['event_starttime']);
         $("#related_event_endtime").val(metas['event_endtime']);
         check_link_type();
       }
     });
  });


  check_link_type = function() {
    var video = $('#related_link_type').val();
    if(video.match("^video")){
      $('.video_extra_info').fadeIn();
    } else {
      $('.video_extra_info').fadeOut();
    }

    var event = $('#related_link_type').val();
    if(event.match("^event")){
      $('.event_extra_info').fadeIn();
    } else {
      $('.event_extra_info').fadeOut();
    }
  };

