@import "neat/neat-helpers";

//$visual-grid:         true;
$visual-grid-color:     #EAF1FB;
$visual-grid-index:     back;
$visual-grid-opacity:   0.5;

// Change the grid settings
$column:                80px;
$gutter:                20px;
$grid-columns:          12;
$max-width:             1180px;

// Define your Media Query
$mobile-max:            em(320);
$mobile-size:           em(321);
$mobile-max1:           em(481);
$mobile-max2:           em(480);

$tablet-max:            em(768);
$tablet-size:           em(769);

$desktop-max:           em(934);
$desktop-size:          em(935);

$figurebig-size:        em(1098);

$largedesktop-max:      em(1200);
$largedesktop-size:     em(1201);

$max-size:              em(1383);

// Define your breakpoints
$mobile: 								new-breakpoint(min-width $mobile-size 4);
$mobilemax: 						new-breakpoint(max-width $mobile-max 4);
$mobilemax1: 						new-breakpoint(min-width $mobile-max1 4);
$mobilemax2: 						new-breakpoint(max-width $mobile-max2 4);

$tablet: 								new-breakpoint(min-width $tablet-size 8);
$tabletmax: 						new-breakpoint(max-width $tablet-max 8);

$desktop: 							new-breakpoint(min-width $desktop-size 12);
$desktopmax: 					  new-breakpoint(max-width $desktop-max 12);

$figurebig:					    new-breakpoint(min-width $figurebig-size 12);

$largedesktop:					new-breakpoint(min-width $largedesktop-size 12);
$largemax:					    new-breakpoint(max-width $largedesktop-max 12);
$max:					          new-breakpoint(min-width $max-size 12);
