/*
*= require kr_common
*= require kr_format
*= require kr_page
*/

#intercom-container {
    display: none;
}

.badge-column {
    position: relative;
}

.badge-column .mask-tags {
  background: #478de4;
}

.search_none_info{
  margin-top: 30px;
}

.fast-section-detail a.fast-url {
  color: #3da9f7;
}

.pull-right {
    float: right;
}

/* reply_comment */

form.comment_form {
    height: 148px;
}

form.comment_form span.reply_msg {
    float: left;
    position: relative;
    background-color: greenyellow;
    left: 0px;
    margin-right: 5px;
}

form.comment_form span.reply_msg span {
    padding: 0 5px;
    background-color: #3da9f7;
    margin-left: 10px;
    cursor: pointer;
}

article .desc .brief a{
    color: #3da9f7;
}

.article-detail-wrap .main-section .content-wrapper section.single-post-comment .textarea:focus + .focus-tips {
  display: inline-block !important;
}
