/*
*= require kr_common
*= require kr_format
*= require kr_page
*/

#intercom-container{
	display: none;
}

.badge-column {
  position: relative;
}

.badge-column:after {
  content: "专栏";
  background: #478de4;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 12px;
  display: block;
}

.search_none_info{
  margin-top: 30px;
}