/*
 *= require sass/style.scss
 *= require_self
 */

abbr.timeago {
  border-bottom-width: 0;
}

.thumb-60{
  width: 60px;
  height: 60px;
}

.thumb-180 img, .thumb-60 img {
  width:100%; height:100%;
}

.second-nav .second-nav__account {
  line-height: 24px;
}

.second-nav .second-nav__account img {
  margin-right: 5px;
}

.sidebar-popular__list, .sidebar-sponsored__list {
  border-top: 1px solid #51aded;
  padding-top: 10px;
}