/* line 1, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
html,
body {
  background: #e9eaec;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
}
/* line 7, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
* {
  box-sizing: border-box;
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}
/* line 14, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
[placeholder]::-webkit-input-placeholder,
[placeholder]::-moz-placeholder,
[placeholder]:-ms-input-placeholder {
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
/* line 20, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
a {
  color: #333333;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  text-decoration: none;
}
/* line 24, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
a:hover {
  color: #3da9f7;
}
/* line 29, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.container {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  /* line 32, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .container {
    width: 1170px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  /* line 35, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .container {
    width: 1000px;
  }
}
@media (max-width: 800px) {
  /* line 38, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .container {
    width: auto;
  }
}
/* line 42, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.clearfix {
  *zoom: 1;
}
/* line 44, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
/* line 52, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.rows {
  *zoom: 1;
}
/* line 44, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.rows:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
@media (min-width: 1200px) {
  /* line 54, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .rows {
    margin-top: 30px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  /* line 57, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .rows {
    margin-top: 20px;
  }
}
/* line 62, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.col-sub {
  float: left;
}
@media (min-width: 1200px) {
  /* line 64, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .col-sub {
    width: 330px;
    margin-right: 30px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  /* line 68, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .col-sub {
    width: 280px;
    margin-right: 20px;
  }
}
@media (max-width: 800px) {
  /* line 72, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .col-sub {
    float: none;
  }
}
/* line 77, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.col-main {
  float: right;
}
@media (min-width: 1200px) {
  /* line 79, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .col-main {
    width: 810px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  /* line 82, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .col-main {
    width: 700px;
  }
}
@media (max-width: 800px) {
  /* line 85, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .col-main {
    float: none;
  }
}
/* line 99, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.brand-link {
  color: #3da9f7;
}
/* line 101, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.brand-link:hover {
  color: #2c79b0;
}
/* line 107, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-base {
  position: relative;
}
/* line 109, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-base:after {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 12px;
  display: block;
}
@media (max-width: 800px) {
  /* line 117, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .badge-base:after {
    padding: 0px 6px;
    font-size: 10px;
    line-height: 1.6;
  }
}
/* line 125, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-tv {
  position: relative;
  overflow: hidden;
}
/* line 109, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-tv:after {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 12px;
  display: block;
}
@media (max-width: 800px) {
  /* line 117, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .badge-tv:after {
    padding: 0px 6px;
    font-size: 10px;
    line-height: 1.6;
  }
}
/* line 128, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-tv:after {
  content: "氪TV";
  background: #f45170;
  z-index: 15;
}
/* line 133, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-tv:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3) asset-url('icon-bofang.png') no-repeat center center;
  background-size: 40px;
  z-index: 10;
  opacity: 0.8;
}
@media (max-width: 800px) {
  /* line 146, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .badge-tv:before {
    background-size: 28px;
  }
}
/* line 151, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-tv:hover:before {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 157, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-o2o {
  position: relative;
}
/* line 109, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-o2o:after {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 12px;
  display: block;
}
@media (max-width: 800px) {
  /* line 117, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .badge-o2o:after {
    padding: 0px 6px;
    font-size: 10px;
    line-height: 1.6;
  }
}
/* line 159, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-o2o:after {
  content: "O2O";
  background: #f0cc23;
}
/* line 164, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-hardware {
  position: relative;
}
/* line 109, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-hardware:after {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 12px;
  display: block;
}
@media (max-width: 800px) {
  /* line 117, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .badge-hardware:after {
    padding: 0px 6px;
    font-size: 10px;
    line-height: 1.6;
  }
}
/* line 166, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-hardware:after {
  content: "新硬件";
  background: #a289df;
}
/* line 171, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-fun {
  position: relative;
}
/* line 109, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-fun:after {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 12px;
  display: block;
}
@media (max-width: 800px) {
  /* line 117, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .badge-fun:after {
    padding: 0px 6px;
    font-size: 10px;
    line-height: 1.6;
  }
}
/* line 173, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-fun:after {
  content: "Fun!!";
  background: #ff6161;
}
/* line 178, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-enterprise {
  position: relative;
}
/* line 109, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-enterprise:after {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 12px;
  display: block;
}
@media (max-width: 800px) {
  /* line 117, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .badge-enterprise:after {
    padding: 0px 6px;
    font-size: 10px;
    line-height: 1.6;
  }
}
/* line 180, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-enterprise:after {
  content: "企业服务";
  background: #678ce0;
}
/* line 185, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-sports {
  position: relative;
}
/* line 109, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-sports:after {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 12px;
  display: block;
}
@media (max-width: 800px) {
  /* line 117, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .badge-sports:after {
    padding: 0px 6px;
    font-size: 10px;
    line-height: 1.6;
  }
}
/* line 187, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-sports:after {
  content: "Fit&Health";
  background: #42d1db;
}
/* line 193, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-edu {
  position: relative;
}
/* line 109, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-edu:after {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 12px;
  display: block;
}
@media (max-width: 800px) {
  /* line 117, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .badge-edu:after {
    padding: 0px 6px;
    font-size: 10px;
    line-height: 1.6;
  }
}
/* line 195, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-edu:after {
  content: "在线教育";
  background: #51cc96;
}
/* line 200, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-finance {
  position: relative;
}
/* line 109, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-finance:after {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 12px;
  display: block;
}
@media (max-width: 800px) {
  /* line 117, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .badge-finance:after {
    padding: 0px 6px;
    font-size: 10px;
    line-height: 1.6;
  }
}
/* line 202, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-finance:after {
  content: "互联网金融";
  background: #f28d19;
}
/* line 207, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-company {
  position: relative;
}
/* line 109, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-company:after {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 12px;
  display: block;
}
@media (max-width: 800px) {
  /* line 117, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .badge-company:after {
    padding: 0px 6px;
    font-size: 10px;
    line-height: 1.6;
  }
}
/* line 209, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-company:after {
  content: "大公司";
  background: #1f90f2;
}
/* line 214, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-activity {
  position: relative;
}
/* line 109, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-activity:after {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 12px;
  display: block;
}
@media (max-width: 800px) {
  /* line 117, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .badge-activity:after {
    padding: 0px 6px;
    font-size: 10px;
    line-height: 1.6;
  }
}
/* line 216, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.badge-activity:after {
  content: "近期活动";
  background: #8ab724;
}
/* line 222, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.radius-box {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
@media (max-width: 800px) {
  /* line 232, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .mobile-hide {
    display: none !important;
  }
}
/* line 236, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
.mobile-show {
  display: none;
}
@media (max-width: 800px) {
  /* line 238, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .mobile-show {
    display: block;
  }
}
/* line 1, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
html {
  height: 100%;
}
/* line 4, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
body {
  min-height: 100%;
  position: relative;
  padding-bottom: 273px;
}
@media (max-width: 800px) {
  /* line 8, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
  body {
    padding-bottom: 205px;
  }
}
/* line 12, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
.fixed-tools {
  position: fixed;
  left: 50%;
  top: 70%;
  margin-left: 590px;
}
@media (max-width: 800px) {
  /* line 232, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  .fixed-tools {
    display: none !important;
  }
}
/* line 20, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
.fixed-tools a {
  display: block;
  width: 40px;
  height: 40px;
  border: solid 1px #d7dde3;
  margin-top: -1px;
  color: #8e9ca9;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  background: #ffffff;
  visibility: hidden;
  opacity: 0;
  position: relative;
}
/* line 34, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
.fixed-tools a .qr {
  position: absolute;
  right: 50px;
  top: 0;
  padding: 0px;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border: solid 1px #d7dde3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  -webkit-transform: translate(0, 20px);
      -ms-transform: translate(0, 20px);
          transform: translate(0, 20px);
}
/* line 47, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
.fixed-tools a .qr img {
  width: 80px;
  display: block;
}
/* line 52, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
.fixed-tools a:first-of-type {
  margin-top: 0;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  line-height: 36px;
  text-indent: 2px;
}
/* line 59, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
.fixed-tools a:last-of-type {
  border-radius: 0 0 2px 2px;
  line-height: 36px;
}
/* line 63, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
.fixed-tools a:hover {
  color: #727d87;
  background: #f8f8f8;
}
/* line 66, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
.fixed-tools a:hover .qr {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0px);
      -ms-transform: translate(0, 0px);
          transform: translate(0, 0px);
}
/* line 74, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
.fixed-tools.show a {
  visibility: visible;
  opacity: 1;
}
/* line 81, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer {
  *zoom: 1;
  background: #2d3237;
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
}
/* line 44, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
footer.common-footer:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
@media (max-width: 800px) {
  /* line 89, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
  footer.common-footer {
    height: 202px;
  }
}
/* line 92, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer ul {
  padding-left: 0;
}
/* line 96, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer a {
  color: #b1d1e8;
}
/* line 98, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer a:hover {
  color: #f8ffff;
}
/* line 102, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .sections {
  margin: 0 auto;
  *zoom: 1;
  padding: 25px 0 15px;
}
@media (min-width: 1200px) {
  /* line 32, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  footer.common-footer .sections {
    width: 1170px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  /* line 35, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  footer.common-footer .sections {
    width: 1000px;
  }
}
@media (max-width: 800px) {
  /* line 38, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  footer.common-footer .sections {
    width: auto;
  }
}
/* line 44, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
footer.common-footer .sections:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
/* line 106, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .sections section {
  float: left;
}
/* line 108, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .sections section h3 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 20px;
}
/* line 114, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .sections section.link-section {
  width: 44%;
  color: #aaaaaa;
}
@media (min-width: 800px) and (max-width: 1200px) {
  /* line 116, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
  footer.common-footer .sections section.link-section {
    width: 42%;
  }
}
/* line 120, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .sections section.link-section .links {
  padding-top: 10px;
  margin-bottom: 15px;
}
@media (max-width: 800px) {
  /* line 124, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
  footer.common-footer .sections section.link-section {
    float: none;
    width: 100%;
    text-align: center;
  }
}
/* line 130, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .sections section.partner-section {
  width: 44%;
  padding-right: 160px;
}
@media (min-width: 800px) and (max-width: 1200px) {
  /* line 133, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
  footer.common-footer .sections section.partner-section {
    padding-right: 80px;
  }
}
@media (max-width: 800px) {
  /* line 232, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  footer.common-footer .sections section.partner-section {
    display: none !important;
  }
}
/* line 137, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .sections section.partner-section ul {
  *zoom: 1;
  list-style: none;
}
/* line 44, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
footer.common-footer .sections section.partner-section ul:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
/* line 140, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .sections section.partner-section ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  margin-bottom: 10px;
}
/* line 145, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .sections section.partner-section ul li a {
  opacity: 0.6;
}
/* line 149, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .sections section.partner-section ul li a:hover {
  opacity: 1;
}
/* line 156, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .sections section.qr-section {
  text-align: center;
  color: #aaaaaa;
  font-size: 12px;
  position: relative;
  left: 10px;
}
@media (max-width: 800px) {
  /* line 232, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  footer.common-footer .sections section.qr-section {
    display: none !important;
  }
}
/* line 163, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .sections section.qr-section img {
  width: 100px;
  margin-bottom: 5px;
  position: relative;
}
/* line 172, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .bottom {
  background: #23282d;
  line-height: 50px;
  height: 50px;
  color: #666666;
  position: relative;
}
@media (max-width: 800px) {
  /* line 179, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
  footer.common-footer .bottom {
    text-align: center;
  }
}
/* line 182, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .bottom .container {
  position: relative;
}
/* line 185, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .bottom .law {
  margin-left: 20px;
}
/* line 189, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .bottom .share {
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 800px) {
  /* line 232, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/common.less */
  footer.common-footer .bottom .share {
    display: none !important;
  }
}
/* line 194, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .bottom .share a {
  color: #fff;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  border-radius: 50%;
  background: #3b4148;
  margin-left: 10px;
  line-height: 24px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
/* line 206, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .bottom .share a.icon-weibo:hover {
  background-color: #d04340;
}
/* line 209, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .bottom .share a.icon-twitter:hover {
  background-color: #5bbce5;
}
/* line 212, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .bottom .share a.icon-facebook:hover {
  background-color: #2f4485;
}
/* line 215, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/components/footer.less */
footer.common-footer .bottom .share a.icon-rss:hover {
  background-color: #e9640e;
}