/* line 2, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/pages.less */
.pages-wrap {
  padding-top: 40px;
  background: #fff;
  overflow: hidden;
  margin-bottom: -30px;
}
@media (max-width: 800px) {
  /* line 7, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/pages.less */
  .pages-wrap {
    padding: 20px 0;
  }
}
/* line 10, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/pages.less */
.pages-wrap .job-title {
  margin-bottom: 30px;
}
/* line 13, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/pages.less */
.pages-wrap figure.big {
  margin: 0 -227px 30px;
}
@media (max-width: 800px) {
  /* line 15, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/pages.less */
  .pages-wrap figure.big {
    margin: 0 0px 30px;
  }
}
/* line 19, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/pages.less */
.pages-wrap .content-wrapper {
  width: 700px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  /* line 21, /Users/yanghanwen/development/36kr/36kr-fe/src/styles/pages.less */
  .pages-wrap .content-wrapper {
    width: 100%;
    padding: 20px;
  }
}